@model EmployeeId

<form asp-controller="Employee" asp-action="DeleteEmployee" method="post">

    <div>
        <label asp-for="id">Enter Employee Id</label>
       <input asp-for="id"/>
    </div>

    <div>
        <button class="btn btn-primary" type="submit">
            DELETE
        </button>
    </div>
</form>



